@{
    Layout = null;
}

<html>
<head>
    <title>Windows Service Portal</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
</head>
<body>
    <div id="content"></div>
    <script src="@Url.Content("~/js/app.js")"></script>
</body>
</html>